*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 100vh;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  background-color: $color-primary;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 4rem 0;
}

::selection {
  background-color: $color-secondary;
  color: white;
}
