:root {
  --color-primary: #{$color-primary};
  --color-primary-light: #{$color-primary-light};
  --color-primary-dark: #{$color-primary-dark};

  --color-secondary: #{$color-secondary};
  --color-secondary-light: #{$color-secondary-light};
  --color-secondary-dark: #{$color-secondary-dark};

  --color-default: #{$color-default};
  --color-default-light: #{$color-default-light};
  --color-default-dark: #{$color-default-dark};

  --color-gray: #{$color-gray};
  --color-gray-light: #{$color-gray-light};
  --color-gray-dark: #{$color-gray-dark};

  --color-brown: #{$color-brown};
  --color-brown-light: #{$color-brown-light};
  --color-brown-dark: #{$color-brown-dark};

  --color-white: #{$color-white};
  --color-back: #{$color-black};

  --color-alpha-brown-dark: #{$color-alpha-brown-dark};
}


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  transition: all .2s ease-in-out;

  @include respond(large) {
    font-size: 85%;
  }

  @include respond(small) {
    font-size: 80%;
  }

  @include respond(xsmall) {
    font-size: 75%;
  }

}

body {
  height: 100vh;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  background-color: $color-primary;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0;
}

ul {
  line-height: 2;
}

main {
  flex: 1;
  padding: 4rem 0;
}

::selection {
  background-color: $color-secondary;
  color: white;
}

input::-webkit-input-placeholder {
  font-size: 0.9rem;
}
