.input-search {

  &__input {
    border: 0;
    border-radius: 10rem;
    background-color: $color-gray-light;
    padding-left: 3.2rem;
    transition: all 0.3s;
    color: gray;
    height: 3rem;

    &:focus {
      box-shadow: 0 2px 7px $color-secondary-light;
      background-color: $color-white;
    }
  }

  &::before {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    content: '';
    mask: url(/assets/images/icons/search.svg) no-repeat 50% 50%;
    mask-size: cover;
    background-color: $color-brown-light;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 1rem;
  }

}
