.footer {
  color: $color-brown-dark;
  font-size: 0.9rem;
  margin-top: 5rem;

  %highlight {
    color: darken($color-brown-dark, 2%);
    font-weight: 500;
  }

  &__copyright {
    @extend %highlight;

    svg {
      fill: darken($color-brown-dark, 2%);
    }
  }

  a {
    @extend %highlight;
  }
}
