.footer {
  color: $color-brown;
  height: 5.5rem;

  %highlight {
    color: darken($color-brown, 5%);
    font-weight: 500;
  }

  &__copyright {
    @extend %highlight;
  }

  a {
    @extend %highlight;
  }
}
