.header {

  &__logo {
    background-color: red;
    -webkit-mask: url('/assets/images/icons/logo.svg') no-repeat center;
    mask: url('/assets/images/icons/logo.svg') no-repeat center;
  }

  &__img {
    width: 4rem;
  }

  &__title {
    color: darken($color-brown, 5%);
    font-size: 1.5rem;
    font-weight: bolder;
  }

}
