.header {
  margin-top: 2rem;

  &__img {
    width: 6rem;
    margin-left: -2rem;
  }

  &__title {
    color: $color-brown-dark;
    font-weight: 500;
    letter-spacing: 0.125rem;
    margin-left: -0.5rem;
  }

}
