<div class="container py-3">

  <!-- MODAL BODY -->
  <div class="modal-body">
    <p>
      Are you sure you want to delete
      <strong class="text-secondary">{{ recipe.title }}</strong>?
    </p>
  </div>

  <!-- MODAL FOOTER -->
  <div class="modal-footer border-0">
    <button type="button"
            class="btn btn--unstyled"
            (click)="bsModalRef.hide()">No</button>

    <button type="button"
            class="btn btn-primary"
            (click)="confirmDelete()">Yes</button>
  </div>

</div>
