<div class="wrapper">
  <!-- HEADER -->
  <header class="header text-center mb-5">
    <nav class="navbar">
      <div class="container-fluid">
        <a href="#" class="navbar-brand mx-auto">
          <img src="assets/images/icons/logo.svg" alt="Recipes" class="header__img img-fluid">
          <span class="header__title align-middle display-6">Recipes</span>
        </a>
      </div>
    </nav>
  </header>

  <!-- MAIN -->
  <main class="container py-xl-4 py-md-4 py-0">
    <router-outlet></router-outlet>
  </main>

  <!-- FOOTER -->
  <footer class="footer text-center py-4">

    <!-- COPYRIGHT -->
    <p class="footer__copyright">
      <svg class="icon icon-copyright">
        <use xlink:href="assets/images/icons/symbol-defs.svg#icon-copyright"></use>
      </svg>
      <span class="align-middle ms-1">KShewengger 2021</span>
    </p>

    <!-- ATTRIBUTION -->
    <div class="footer__attribution">
      <p>
        Icons made by
        <a href="https://www.freepik.com" title="Freepik">Freepik</a>
        and
        <a href="https://icomoon.io/" title="Icomoons">IcoMoons</a>
      </p>
    </div>
  </footer>
</div>
