<header class="header">
  <nav class="navbar">

    <div class="container-fluid">
      <a href="#" class="navbar-brand">
        <img src="assets/images/icons/logo.svg" alt="Recipes" class="header__img img-fluid">
        <span class="header__title align-middle">Recipes</span>
      </a>
    </div>

  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="footer position-fixed text-center bottom-0 w-100 py-3">
  <p class="footer__copyright">
    <svg class="icon icon-copyright">
      <use xlink:href="assets/images/icons/symbol-defs.svg#icon-copyright"></use>
    </svg>

    <span class="align-middle ms-1">KShewenger 2021</span>
  </p>

  <div class="footer__attribution">
    <p>Icons made by
      <a href="https://www.freepik.com" title="Freepik">Freepik</a> and
      <a href="https://icomoon.io/" title="Icomoons">IcoMoons</a>
    </p>

  </div>
</footer>
