<div class="recipe-ingredient">
  <div class="d-lg-flex d-block">

    <!-- INSTRUCTIONS -->
    <div class="mb-lg-0 mb-3">
      <input type="text"
             class="form-control"
             placeholder="Instructions">
    </div>

    <!-- OPTIONAL -->
    <div class="ms-lg-3 ms-0 mb-lg-0 mb-3">
      <select class="form-select">
        <option class="text-mute">Optional</option>
        <option value="yes">yes</option>
        <option value="yes">no</option>
      </select>
    </div>

    <!-- BUTTONS -->
    <div class="d-flex ms-lg-4 ms-0 flex-lg-row flex-row-reverse">
      <button class="btn btn__check btn--icon me-lg-1 me-0">
        <svg class="icon-check">
          <use xlink:href="assets/images/icons/symbol-defs.svg#icon-check"></use>
        </svg>
      </button>

      <button class="btn btn__remove btn--icon me-lg-0 me-1">
        <svg class="icon-delete_outline">
          <use xlink:href="assets/images/icons/symbol-defs.svg#icon-delete_outline"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
