$color-primary: #EEBC4B;
$color-primary-light: #F2E1C6;
$color-primary-dark: #D1A646;

$color-secondary: #745A35;
$color-secondary-light: #A79279;
$color-secondary-dark: #2D1F17;

$color-default: #E7E6E5;
$color-default-light: #F6F6F3;
$color-default-dark: #D4CBBD;

$color-brown: #54483A;
$color-brown-light: #6D5D4B;

$color-white: #fff;
$color-black: #000;

$color-gray: #999;
$color-gray-light: #f4f2f2;
$color-gray-dark: #333;

$font-raleway: "Raleway", sans-serif;

$breakpoint-md: 48em;
