@import '~node_modules/bootstrap/scss/bootstrap-utilities';


.recipe-card {

  &__body {
    background: white;
    border-radius: 1rem;
    margin-top: -1.5rem;
    z-index: 10;
  }

  &__icon {
    fill: var(--color-gray-dark);
  }

  &__image {
    transition: all .3s;
    transform: scale(1.1);
  }

  &__info {

    &__title {
      color:  var(--color-secondary);
    }

    &__text {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

  }

  @include media-breakpoint-up(md) {
    &:hover {
      box-shadow: 0 0.125rem 0.375rem  var(--color-secondary-light);
      transform: scale(1.05);

      .recipe-card__image {
        transform: scale(1);
      }
    }
  }

}
