<div class="recipe-card card">

  <!-- RECIPE IMAGE -->
  <img srcset="assets/images/foods/brussel-chips/brussel_chips--s.jpg 200w,
                   assets/images/foods/brussel-chips/brussel_chips--m.jpg 570w,
                   assets/images/foods/brussel-chips/brussel_chips.jpg 1200w"
       src="assets/images/foods/brussel-chips/brussel_chips.jpg"
       sizes="(max-width: 400px) 100vw, (max-width: 700px) 80vw, (max-width: 900px) 70vw, 500px"
       alt="..."
       class="recipe-card__image img-fluid">

  <!-- RECIPE BODY -->
  <div class="recipe-card__body card-body">

    <!-- RECIPE INFO -->
    <div class="recipe-card__info mb-4">
      <h5 class="recipe-card__info__title card-title">Brussel Chips</h5>
      <p class="recipe-card__info__text card-text text-muted">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>

    <!-- RECIPE SUMMARY -->
    <div class="recipe-card__summary mb-2 text-muted">
      <p>
        <svg class="recipe-card__icon icon icon-copyright">
          <use xlink:href="assets/images/icons/symbol-defs.svg#icon-face"></use>
        </svg>
        <span class="ms-2">5 servings</span>
      </p>

      <p class="my-1">
        <svg class="recipe-card__icon icon icon-copyright">
          <use xlink:href="assets/images/icons/symbol-defs.svg#icon-timer"></use>
        </svg>
        <span class="ms-2">10 minutes</span>
      </p>

      <p>
        <svg class="recipe-card__icon icon icon-copyright">
          <use xlink:href="assets/images/icons/symbol-defs.svg#icon-bowl"></use>
        </svg>
        <span class="ms-2">20 minutes</span>
      </p>
    </div>
  </div>

</div>
