.recipe-card {
  transition: all .2s;

  &--active {
    transform: translateY(0) scale(1) !important;
  }

  &__body {
    background: white;
    border-radius: 1rem;
    margin-top: -3rem;
    z-index: 10;
  }

  &__icon {
    fill: var(--color-gray-dark);
  }

  &__image {
    transition: all .2s;
    transform: scale(1.15);
    height: 17rem;
    min-width: 25rem;
    object-fit: cover;
    background-color: var(--color-primary-light);
  }

  &__info {

    &__title {
      color:  var(--color-secondary);
    }

    &__text {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

  }

  @media only screen and (min-width: 48em) {
    &:hover {
      box-shadow: 0 0.125rem 0.375rem  var(--color-secondary-light);
      transform: translateY(-10px) scale(1.05);

      .recipe-card__image {
        transform: scale(1);
      }
    }
  }

  @media only screen and (max-width: 48em) {
    &__image {
      height: auto;
    }
  }

}

