<div class="recipe-card card"
     recipeCardActive>

  <!-- RECIPE IMAGE -->
  <img srcset="{{ recipe.images.small }} 200w,
               {{ recipe.images.medium }} 570w,
               {{ recipe.images.full }} 1200w"
       sizes="(min-width: 1200px) 33.3333333333vw,
              (min-width: 768px) 50vw,
              100vw"
       class="recipe-card__image card-img-top img-fluid"
       [src]="recipe.images.medium"
       [alt]="recipe.title">

  <!-- RECIPE BODY -->
  <div class="recipe-card__body card-body">

    <!-- RECIPE INFO -->
    <div class="recipe-card__info mb-4">
      <h5 class="recipe-card__info__title card-title">{{ recipe.title }}</h5>
      <p class="recipe-card__info__text card-text text-muted">{{ recipe.description }}</p>
    </div>

    <!-- RECIPE TIMEFRAME -->
    <div class="recipe-card__timeframe mb-2 text-muted">
      <p>
        <svg class="recipe-card__icon icon icon-copyright">
          <use xlink:href="assets/images/icons/symbol-defs.svg#icon-face"></use>
        </svg>
        <span class="ms-2">{{ recipe.servings }} servings</span>
      </p>

      <p class="my-1">
        <svg class="recipe-card__icon icon icon-copyright">
          <use xlink:href="assets/images/icons/symbol-defs.svg#icon-timer"></use>
        </svg>
        <span class="ms-2">{{ recipe.prepTime }} minutes</span>
      </p>

      <p>
        <svg class="recipe-card__icon icon icon-copyright">
          <use xlink:href="assets/images/icons/symbol-defs.svg#icon-bowl"></use>
        </svg>
        <span class="ms-2">{{ recipe.cookTime }} minutes</span>
      </p>
    </div>
  </div>

</div>
